/* Introducao */

.interna_sobre{
  background: url(../img/bg-sobre.jpg) no-repeat center;
  background-size: cover;
}


/* Historia - Sobre */

.missao_sobre{
  padding-top: 60px;
}

.missao_sobre p{
  padding: 10px 60px 0 0;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: .1em;
}

.missao_sobre ul li{
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 30px;
  list-style-position: inside;
}

.historia_foto{
  padding-top: 20px;
}